/* Table Styles */

.pilots-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: white;
}

/* Center the text in the cells in td and give small padding in all directions */
.pilots-table td, .pilots-table th {
    text-align: center;
    padding: 0.5rem;
}

/* Create light borders between the different data */
.pilots-table td {
    border-right: 1px solid #dbd7d7;
    font-size: 15px;
}

/* The header text of odd numbered columns (1, 3, 5....) */
.pilots-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}

/* Every odd header text and background */
.pilots-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

/* Background of every second data row */
.pilots-table tr:nth-child(even) {
    background: #F8F8F8;
}
